body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}
nav{
    word-spacing:6.8cm;
    background-color:#333;
    color:#333;
    button{
        font-size: 20pt;
        font-family:serif;
        color:black;

    }

    
}
header {
    background-color: #4a90e2;
    color: #fff;
    text-align: center;
    padding: 1.5em;
}

header h1 {
    font-size: 2.2em;
    margin-bottom: 0.2em;
}

header p {
    font-size: 1.2em;
}

main {
    width: 90%;
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.note-section {
    margin-bottom: 1.5em;
}

.note-section h2 {
    color: #4a90e2;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.note-section p, .note-section ul {
    margin-left: 1em;
}

.note-section ul {
    list-style-type: disc;
    margin-top: 0.5em;
}

.note-section ul li {
    margin-bottom: 0.5em;
}
table,th,tr,td{
    border:#333 2px solid;
}
.s1{
    background-color: #f9f9f9;
}
footer{
    background-color: #333;
    color: white;
    width: 100%;
}